* { box-sizing: border-box; }

/* 
  The background color will be #ccc 
  at browser widths above 768px 
*/
body {

  /* Typography */
  font-family: "roboto", "arial", sans-serif;
  font-size: 12px;
  line-height: 27px;

  /* Visual */
  background-color: #ccc;

}

/* 
  The width of the wrapper will be 1024px
  at browser widths above 768px 
*/
.wrapper {

  /* Positioning */
  margin: 40px auto;

  /* Box-model */
  width: 1024px;

}

#main-content,
#sidebar {

  /* Box-model */
  width: 500px;
  padding: 30px;

}

#main-content {

  /* Positioning */
  float: left;

  /* Visual */
  background: #fff;

}

#sidebar {

  /* Positioning */
  float: right;

  /* Visual */
  background: white;

  /* Typography */
  text-align: center;
}

.contact-icons {
  width: 40px;
  height: 40px;
}

#bio-image {
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
}

/* 
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {

  /* The body's bg color will be #333 */
  body { background-color: #333; }

  .navbar-right { display: none; }

  #sidebar { margin: auto; margin-left: auto; float: left; margin-top: 50px; background-color: white;}
  /* The wrapper's width will be 600px */
  .wrapper { width: 500px; }
  
}